* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'DotGothic16', sans-serif;
    min-width: 550px;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 64px;
    color: yellowgreen;
    margin-top: 8px;
    margin-bottom: 8px;
}

.btns_wrap {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 8px;
    padding: 8px 16px;
    background-color: yellowgreen;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    cursor : pointer;
    transform: scale(1.1);
}

#ghost {
    color: yellowgreen;
    font-size: 256px;
    margin: 64px 0;
}

.green_align {
    color: yellowgreen;
    text-align: center;
}

.display_none {
    display: none;
}

.grill {
    width: 502px;
    height: 502px;
    margin: 16px auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid yellowgreen;
}

.block {
    width: 25px;
    height: 25px;
}

.player {
    background-color: yellowgreen;
}

#help_list {
    width: 30%;
    margin: 32px auto;
}

#ply_title {
    margin-top: 32px;
}

#dead_title {
    margin-bottom: 16px;
}

#dead {
    color: yellowgreen;
    font-size: 128px;
    margin: 32px 0;
}

.food {
    font-size: 25px;
    color: yellowgreen;
}

.eat {
    text-align: center;
}

footer {
    padding: 16px 0;
}